.remark-slide-number {
  position: inherit;
  display: none;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}

.remark-slide-content.ribbon h2, .remark-slide-content.ribbon h3 {
  background-color: white;
  opacity: 0.75;
  margin-left:  -64px;
  padding-left:  64px;
  margin-right: -64px;
  padding-right: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.remark-slide-content.ribbon-bottom {
  padding-top:500px;
}

